{% extends 'base.html' %}


{% block title %}
    {{ title }}
{% endblock %}



{% block content %}
    <div class="row mt-2">
        <div class="col-sm-3">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">Employees</a>
                <a href="#" class="list-group-item list-group-item-action">Department</a>
                <a href="#" class="list-group-item list-group-item-action disabled">Compensation</a>
              </div>
        </div>
        <div class="col-sm-3">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Number of Employees
                  <span class="badge bg-primary rounded-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Number of Departments
                  <span class="badge bg-primary rounded-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Number of Compensations
                  <span class="badge bg-primary rounded-pill">1</span>
                </li>
              </ul>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-8">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-info" fdprocessedid="08t1t5">Sort</button>
                <div class="btn-group" role="group">
                  <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" fdprocessedid="6b1bwl"></button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop3">
                    <a class="dropdown-item" href="#">Dropdown link</a>
                    <a class="dropdown-item" href="#">Dropdown link</a>
                  </div>
                </div>
            </div>

            <button type="button" class="btn btn-success" fdprocessedid="a0kzok">New Employee   <i class="fa fa-plus" style="font-size:16px"></i></button>
        </div>
        <div class="col-sm-4">
            <form class="d-flex">
            <input class="form-control me-sm-2" type="search" placeholder="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit" fdprocessedid="m3awm">Search</button>
            </form>
        </div>
    </div>

    <table class="table table-hover mt-3">
        <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Column heading</th>
            <th scope="col">Column heading</th>
            <th scope="col">Column heading</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-info">
            <th scope="row">Info</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>

        </tbody>
      </table>
{% endblock %}
