{% extends 'base.html' %}


{% block title %}
    {{ title }}
{% endblock %}



{% block content %}

    {%if request.user.is_authenticated %}
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4 d-flex justify-content-center">Welcome: <small>{{ request.user.username | title }}</small></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center mt-3">
                <a type="button" href="{% url 'dashboard' %}" class="btn btn-info" fdprocessedid="cmqtec">Go To Dashboard <i class="fa fa-dashboard" style="font-size:19px"></i></a>
            </div>
        </div>
    
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    
{% endblock %}
