{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-sm-12 ">
        <h1 class="display-4">Delete Department: <small> Remove Data</small></h1>
    </div>
</div>

<div class="row">

    <div class="col-md-12">
        <div class="mt-4 p-5 bg-success text-white">
            <h1 class="display-5 d-flex justify-content-center">Deleted Successfully...    <sub><i class="fa fa-check-circle" style="font-size:49px"></i></sub></h1>

            <div class="mt-4  d-flex justify-content-center">
            <form  method="POST">
                {% csrf_token %}
                <a type="button" href="{% url 'compensations' %}" class="btn btn-info mt-5" fdprocessedid="rlq55k">Back To Departments<i class="fa fa-mail-reply" style="font-size:16px"></i></a>
            </form>
        </div>
        </div>
    </div>

</div>


{% endblock %}