{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
<div class="d-flex justify-content-center">
    <div>
    <h1>Details Compensation</h1>
</div>
</div>
<hr>

    <!-- Row 1 -->
<div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6">
        <div class="d-flex justify-content-center"><h1 class="text-success">Registered</h1></div>
    </div>
</div>

<!-- Row 2 -->
<div class="row">

    <!-- column 1 -->
    <div class="col-sm-6">
        <div class="mt-4 p-5 bg-danger text-white rounded">
            <h1 class="display-6">Name: {{ compensation }}</h1>
            <h1 class="display-6">Employee: None</h1>
            <h1 class="display-6">Description: None</h1>
            <div class="btn-group d-flex justify-content-center mt-4">
                <a type="button" href="{% url 'update-compensation' compensation.id %}" class="btn btn-info">Update</a>
                <a type="button" href="{% url 'compensations' %}" class="btn btn-light">Return</a>
                <a type="button" href="{% url 'delete-compensation' compensation.id%}" class="btn btn-warning">Remove</a>
              </div>
          </div>
    </div>

    <!-- column 2 -->
    <div class="col-sm-6">
        
        <table class="table table-hover mt-4">
            <thead>
              <tr>
                <th scope="col">empID</th>
                <th scope="col">Full Name</th>
                <th scope="col">Joined Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
            {% for employee in employee_has_compensation %}
              <tr class="table-info">
                <th scope="row">{{ employee.id }}</th>
                <td>{{ employee.first_name }} {{ employee.last_name }}</td>
                <td>Column content</td>
                <td><a href=""><i class="fa fa-minus-circle" style="font-size:22px;color:red"></i></a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="d-flex justify-content-center mt-5"><h1 class="text-warning">Not Registered</h1></div>
        <table class="table table-hover mt-4">
            <thead>
              <tr>
                <th scope="col">empID</th>
                <th scope="col">Full Name</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for employee in employee_no_has_compensation %}
              <tr class="table-info">
                <th scope="row">{{ employee.id }}</th>
                <td>{{ employee.first_name }} {{ employee.last_name }}</td>
                <td><a href=""><i class="fa fa-plus-circle" style="font-size:22px;color:rgb(25, 173, 12)"></i></a></td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
    </div>
</div>
{% endblock %}