{% extends 'base.html' %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <div class="row mt-2">
        <div class="col-sm-3">
            <div class="list-group">
                <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action active">Employees</a>
                <a href="{% url 'departments' %}" class="list-group-item list-group-item-action">Department</a>
                <a href="{% url 'compensations' %}" class="list-group-item list-group-item-action ">Compensation</a>
              </div>
        </div>
        <div class="col-sm-3">
            <ul class="list-group">
                <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">
                  Number of Employees
                  <span class="badge bg-primary rounded-pill">{{ employees.count }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Number of Departments
                  <span class="badge bg-primary rounded-pill">{{ departments.count }}</span>
                </li>
                <li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">
                    Number of Compensations
                  <span class="badge bg-primary rounded-pill">{{ compensations.count }}</span>
                </li>
              </ul>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-8">
          <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            <i class="fa fa-sliders" style="font-size:22px;color:rgb(253, 251, 251)"></i>
          </a>
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <div>
                Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
              </div>
              <div class="dropdown mt-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  Sort By
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="{% url 'dashboard' %}">Default  <i class="fa fa-refresh" style="font-size:19px;color:rgb(245, 244, 244)"></i></a></li>
                  <li><a class="dropdown-item" href="{% url 'sort-dashboard' 'first_name' %}">First Name <i class="fa fa-sort-alpha-asc" style="font-size:19px;color:rgb(253, 251, 251)"></i></a></li>
                  <li><a class="dropdown-item" href="{% url 'sort-dashboard' '-first_name' %}">First Name   <i class="fa fa-sort-alpha-desc" style="font-size:19px;color:rgb(253, 251, 251)"></i></a></li><hr>
                  <li><a class="dropdown-item" href="{% url 'sort-dashboard' 'gender' %}">Gender   <small>' Female '</small></a></li>
                  <li><a class="dropdown-item" href="{% url 'sort-dashboard' '-gender' %}">Gender   <small>' Male '</small></a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            </div>
          </div>

            <a type="button" href="{%url 'create-contact-employee' %}" class="btn btn-success" fdprocessedid="a0kzok">New Employee   <i class="fa fa-plus" style="font-size:16px"></i></a>
        </div>
        <div class="col-sm-4">
            <form class="d-flex">
            <input class="form-control me-sm-2" type="search" placeholder="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit" fdprocessedid="m3awm">Search</button>
            </form>
        </div>
    </div>
    {% if employees %}
        <table class="table table-hover mt-3">
            <thead>
              <tr>
                <th scope="col">EmpID</th>
                <th scope="col">Full Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Birth Day</th>
                <th scope="col">Dep.Name</th>
                <th scope="col">Compensation</th>
                <th scope="col">View</th>
              </tr>
            </thead>
            <tbody>
              {% for employee in employees %}
                <tr class="table-info">
                  <th scope="row">{{ employee.id }}</th>
                  <td>{{ employee.first_name }} {{ employee.last_name }}</td>
                  <td>{{ employee.gender }}</td>
                  <td>{{ employee.birth_date }}</td>
                  <td>{{ employee.department }}</td>
                  <td>{{ employee.compensations.all.count }}</td>
                  <td><a href="{% url 'details-employee' employee.id %}"><i class="fa fa-eye" style="font-size:20px;color:red"></i></a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      {% else %}
      <div class="row">
        <div class="col-sm-12">
          <p class=" d-flex justify-content-center mt-5"> <i class="fa fa-exclamation-circle" style="font-size:40px;color:orange"></i> </p>
          <h1 class=" d-flex justify-content-center mt-3 text-warning">No Employees!</h1>
        </div>
      </div>
      {% endif %}
{% endblock %}
