{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}


<div class="row mt-5">
    <div class="mt-4 p-5 bg-success text-dark d-flex justify-content-center">
        <div class="col-sm-4">
            <h4><i class="fa fa-address-card-o" style="font-size:30px"></i> Information Personl:</h4>
            <h5 class="text-light"> <small>First Name: {{employeeData.first_name}}</small></h5>
            <h5 class="text-light"> <small>Last Name: {{employeeData.last_name}}</small></h5>
            <h5 class="text-light"> <small>Gender: {{employeeData.gender}}</small></h5>
            <h5 class="text-light"> <small>Birth Date: {{employeeData.birth_date}}</small></h5>

            <form action="{% url 'update-employee' employeeData.id %}" method="GET">
                {% csrf_token %}
                <button type="submit" class="btn btn-warning mt-5" fdprocessedid="z4p30c">Update Data <i class="fa fa-pencil-square-o" style="font-size:16px"></i></button>
                <a type="button" href="{% url 'delete-employee' employeeData.id %}" class="btn btn-danger mt-5" fdprocessedid="rlq55k">Remove <i class="fa fa-minus" style="font-size:16px"></i></a>
                <a type="button" href="{%url 'dashboard' %}" class="btn btn-info mt-2" fdprocessedid="a0kzok">Back to Dashboard  <i class="fa fa-mail-reply" style="font-size:16px"></i></a>
            </form>
        </div>
        <div class="col-sm-4">
            <h4><i class="fa fa-phone-square" style="font-size:30px"></i> Contact:</h4>
            <h5 class="text-light"> <small>Phone: {{employeeData.contact.phone}}</small></h5>
            <h5 class="text-light"> <small>Email: {{employeeData.contact.email}}</small></h5>
            <h5 class="text-light"> <small>Address: {{employeeData.contact.address}}</small></h5>
            <h5 class="text-light"> <small>City: {{employeeData.contact.city}}</small></h5>
        </div>
        <div class="col-sm-4">
            <h4><i class="fa fa-group" style="font-size:30px"></i> Department:</h4>
            <h5 class="text-light"> <small>Department Name: {{employeeData.department}}</small></h5>
            <h5 class="text-light"> <small>Salary Name: {{employeeData.salary}}</small></h5>
            <h5 class="text-light "> <small>Joined Date: {{employeeData.join_department_date}}</small></h5>

            <h4 class="mt-5"><i class="fa fa-newspaper-o" style="font-size:30px"></i> Compensations:</h4>
            {% if employeeData.compensations.all %}
            <ol>
                {% for comp in employeeData.compensations.all %}
                <li>{{ comp }} +{{comp.reward_price}}</li>
                {% endfor %}
            </ol>
            {% else %}
            <h5 class="text-light"> <small>No Have Compensations</small></h5>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}