{% extends 'base.html' %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

  {% if messages %}
  <div class="messages">
  {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
      <button type="button" class="btn-close" data-bs-dismiss="alert" fdprocessedid="e9o21dk"></button>
      {{ message }}
      <i class="fa fa-check-circle" style="font-size:24px;color:rgba(255, 253, 253, 0.993)"></i>
    </div>
  {% endfor %}
  </div>
  {% endif %}

<div class="d-flex justify-content-center">
    <div>
    <h1>Details Department</h1>
</div>
</div>
<hr>
    <div class="row mt-5">

      <div class="col-sm-4">
          <div class="card text-white bg-info mb-3" style="max-width: 30rem;">
            <div class="card-header">Created Date: {{department.create_date|date:"D d M Y"}}</div>
            <div class="card-body">
              <h4 class="card-title">Description Department</h4>
              <p class="card-text">{{ department.description|title}}.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="p-2 ">
            <a type="button" href="{% url 'update-department' department.id%}" class="btn btn-warning text-light" fdprocessedid="a0kzok">Update Department      <i class="fa fa-pencil-square-o" style="font-size:16px"></i></a>
          </div>
          <div class="p-2">
            <a type="button" href="{% url 'delete-department' department.id%}" class="btn btn-danger text-light" fdprocessedid="a0kzok">Remove Department   <i class="fa fa-minus" style="font-size:16px"></i></a>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="p-2">
            <a type="button" href="{% url 'departments' %}" class="btn btn-info" fdprocessedid="a0kzok">Back to Departments  <i class="fa fa-mail-reply" style="font-size:16px"></i></a>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 mt-2">
            <h4>Name: {{ department }}</h4>
        </div>
        <div class="col-sm-4">
          <div class="p-2">
            <a type="button" href="{% url 'joining-department' department.id%}" class="btn bg-success text-light" fdprocessedid="a0kzok">Joining Employee    <i class="fa fa-plus-circle" style="font-size:22px;color:rgb(235, 240, 234)"></i></a>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            {% if department.employee_set.all.count > 0 %}
            <table class="table table-hover mt-3">
                <thead>
                  <tr>
                    <th scope="col">EmpID</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Joined Date</th>
                    <th scope="col">View</th>
                  </tr>
                </thead>
                <tbody>
                  {% for employee in department.employee_set.all %}
                  <tr class="table-info">
                    <th scope="row">{{ employee.id }}</th>
                    <td>{{ employee.first_name }} {{ employee.last_name }}</td>
                    <td>{{employee.joined_date }}</td>
                    <td><a href="{% url 'remove-employee-department' employee.id %}"><i class="fa fa-trash" style="font-size:21px;color:red"></i></a></td>
                  </tr>
                  {% endfor %}
        
                </tbody>
              </table>
              {% else %}
              <div class="row">
                <div class="col-sm-12 ">
                  <p class=" d-flex justify-content-center mt-5"> <i class="fa fa-exclamation-circle" style="font-size:40px;color:orange"></i> </p>
                  <h1 class=" d-flex justify-content-center mt-3 text-warning">No Employees!</h1>
                </div>
                </div>
              {% endif %}
        </div>
        <div class="col-sm-4">
            
        </div>
    </div>


{% endblock %}